body {
  --bs-body-font-family: var(--font-work-sans);
  overflow-x: hidden;
}

input,
select {
  box-shadow: none !important;
  &::placeholder {
    opacity: 0.5;
  }
}

.form-control::placeholder {
  opacity: 0.5;
}

img {
  max-width: 100%;
  height: auto;
}

.box {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
}

.section-title {
  text-align: center;
  margin-bottom: 30px;
  padding: 0px 20px;
  position: relative;
  z-index: 5;

  h2 {
    font-size: 30px;
    line-height: 35px;
    text-transform: capitalize;
    font-weight: 600;
    padding-bottom: 20px;
    margin-bottom: 20px;
    position: relative;
    &::before {
      position: absolute;
      left: 50%;
      bottom: 0;
      content: "";
      background-color: var(--bs-primary);
      height: 3px;
      width: 50px;
      margin-left: -25px;
      border-radius: 2px;
    }
  }

  p {
    margin: 0 auto;
    max-width: 800px;
  }
}
