body {
  --bs-body-font-family: var(--font-work-sans);
}

input,
select {
  box-shadow: none !important;
  &::placeholder {
    opacity: 0.5;
  }
}

.form-control::placeholder {
  opacity: 0.5;
}

img {
  max-width: 100%;
  height: auto;
}

.box {
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 4px;
}
