.root {
  width: 33vw;
  background-color: #f0f5fa;
  overflow: hidden;
  border-radius: 4px;

  & > input,
  & > button {
    border: none;
    background-color: transparent !important;
  }

  @media (max-width: 767.98px) {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}
