.root {
  padding-bottom: 3rem;
  background-color: var(--bs-light);

  nav {
    border: 1px solid #eee;
    border-radius: 4px;
    a {
      text-decoration: none;
    }
  }
}

.topArea {
  background-color: #fff;
  padding: 30px;
  border: 1px solid #eee;
  border-radius: 4px;
}

.category {
  background-color: #f0f0f0;
  border-radius: 2px;
  font-size: 12px;
  letter-spacing: 0.5px;
}
